/* ====================================================
 * ELEMENT
 * ===================================================*/
th, td, caption, pre {
    font-size: 10pt;
}
html {
/*    background-color: #e0e0e0;
    background-color: #ffffff;
    padding: 0;
}
body {
    font-size: 10pt;
    max-width: 940px;
    min-height: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px;
    -webkit-text-size-adjust: none;
    background-color: #ffffff;
    border-right: 2px solid #999999;
    border-left: 1px solid #999999;
    overflow-y: scroll;
}
h2 {
    padding: 5px 3px 3px 5px;
    background-color: #ccccff;
    background-color: #446699;  /* STYLE3 */
    border: 1px solid #999999;
    border-color: #435a8b #3c5488 #334c83; /* STYLE3 */
    font-weight: bold;
    font-size: 1.3em;
    color: #333366;
    color: #000001; /* STYLE3 */
    margin: 0px 0px 8px 0px;
}
h4 {
    margin: 1em 0em 1em 0em;
    height: 16pt;
    padding: 3px 3px 1px 4px;
    background-color: #ccccff;
    background-color: #446699;  /* STYLE3 */
    border: 1px solid #999999;
    border-color: #435a8b #3c5488 #334c83; /* STYLE3 */
    font-weight: bold;
    font-size: 10pt;
    color: #333366;
    color: #000001; /* STYLE3 */
/*    color: #ffffff; /* STYLE3 */
}
h5 {
    font-family: "Meiryo UI";
    margin: 0 0 0 8px;
    font-size: 0.7em;
}
a:link {
    color: #0044cc;
    color: #113366; /* STYLE3 */
}
h4 a:link {
    color: #000001; /* STYLE3 */
}
a:visited {
    color: #000066;
    color: #113366; /* STYLE3 */
}
h4 a:visited {
    color: #000001; /* STYLE3 */
}
a:link:hover {
    color: #da006e;
}
a:visited:hover {
    color: #da006e;
}
em {
    color: #cc0000;
}
dt {
    font-weight: bold;
}

/* ====================================================
 * CLASS
 * ===================================================*/
.i {
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 25px;
}
pre.c {
    margin: 1em 0em 1em 0em;
    padding: 5px;
    border: 1px solid #808080;
    white-space: pre;
    background-color: #f4f4f4;
    overflow-x: auto;
}
pre.c2 {
    margin: 0em 0em 1em 0em;
    padding: 5px;
    border: 1px solid #808080;
    white-space: pre;
    background-color: #f4f4f4;
    overflow-x: auto;
}
div.c {
    margin: 1em 0em 1em 0em;
    padding: 5px;
    border: 1px solid #808080;
    background-color: #f4f4f4;
}
div.c2 {
    margin: 0em 0em 0em 0em;
    padding: 5px;
    border: 1px solid #808080;
    background-color: #f4f4f4;
}
div.c2 h5 {
    margin: 0.5em 0 0 0;
}
div.title-tab {
    min-width: 140px;
    max-width: 200px;
    padding-right: 5px;
    padding-left: 5px;
    border-top: 1px solid #666666;
    border-right: 1px solid #666666;
    border-left: 1px solid #666666;
    background-color: #dddddd;
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
    color: #333333;
}
div.adv {
    border: 1px solid #808080;
    background-color: #e8e8ff;
    padding: 3px;
    font-size: 8pt;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.adv a:link, div.adv a:visited {
    color: #404080;
}
.nsy {  /* Not Support Yet */
    color: #666666;
}
.small {
    font-size: 85%;
}
.nowrap, .nowrap * {
    white-space: nowrap;
}
.border {
    border: 1px solid gray;
}
.v-middle {
    vertical-align: bottom;
}
.dos {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #808080;
    padding: 5px;
    overflow-x: auto;
}
.dos kbd {
    color: #99ff99;
}
.dos em {
    color: #ff6666;
}
.dos .comment {
    color: #808080;
}
.tt {
    font-family: monospace;
}
.collapse {
    border-collapse: collapse;
}
.comment {
    color: #666666;
}

/* ====================================================
 * MESSAGE BOX
 * ===================================================*/
.error {
    margin: 10px;
    border: 2px solid #ff6666;
    background-color: #ffcccc;
    padding: 10px;
    color: red;
}
.info {
    margin: 10px;
    border: 1px solid #666633;
    background-color: #ffffcc;
    padding: 10px;
    color: red;
}
.worning {
    margin: 10px;
    border: 2px solid #ffff66;
    background-color: #ffffcc;
    padding: 10px;
    color: red;
}

/* ====================================================
 * LOCATION
 * ===================================================*/
.top {
    vertical-align: top;
}
.valign-top {
    vertical-align: top;
}
.right {
    text-align: right;
}
.align-right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.center * {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}

/* ====================================================
 * COLOR
 * ===================================================*/
.red { color: red; }
.green { color: green; }
.blue { color: blue; }
.white { color: white; }
.gray { color: gray; }
.bg-eee { background-color: #f4f4f4; }

/* ====================================================
 * TABLE
 * ===================================================*/
table.tb1 {
    border: 1ps solid #666666;
    border-collapse: collapse;
    empty-cells: show;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
}
table.tb1 th {
    font-size: 10pt;
    border: 1px solid #666666;
    padding: 0px 3px;
    background-color: #ccccff;
    background-color: #dddddd;  /* STYLE3 */
    color: #333366;
    color: #333333; /* STYLE3 */
    padding: 1px 3px;
    font-weight: normal; /* STYLE3 */
}
table.tb1 td {
    font-size: 10pt;
    border: 1px solid #666666;
    padding: 0px 3px 1px 3px;
}
table.center td {
    text-align: center;
}
table.tb1 caption {
    font-size: 10pt;
    text-align: left;
}
table.tb1 table th {
    border: 0px solid #666666;
}
table.tb1 table td {
    border: 0px solid #666666;
}


table.tb2 {
    border: 1ps solid #666666;
    border-collapse: collapse;
    empty-cells: show;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
}
table.tb2 th {
    font-size: 8pt;
    border: 1px solid #666666;
    background-color: #dddddd;
}
table.tb2 td {
    font-size: 8pt;
    border: 1px solid #666666;
}
table.center td {
    text-align: center;
}
table.tb2 table th {
    border: 0px solid #666666;
}
table.tb2 table td {
    border: 0px solid #666666;
}

.col_left { 
    background-color: #f9f9ff;
    text-align: left;
}
.col_other { 
    background-color: #000001;
    text-align: right;
}